Flask==3.1.1
Flask_Cors==4.0.0
Flask_JWT_Extended==4.5.2
Flask_Migrate==4.0.4
flask_sqlalchemy==3.1.1
numpy==1.24.3
Pillow==10.0.0
Pillow==11.3.0
Requests==2.32.4
torch==2.0.1
transformers==4.31.0
Werkzeug==3.1.3
